@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: center; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

main {
  flex: 1; }

nav {
  display: flex;
  background-color: #a0f8a0;
  height: 15%;
  width: 100%; }
  nav .logo-img img {
    width: 12vh; }

.nav-link {
  margin-left: 40px;
  padding: 30px; }

.quienes-somos {
  display: flex;
  flex-direction: column;
  background-color: floralwhite;
  width: 100%;
  height: 100%;
  padding: 20px; }

.contenedor-carrusel {
  background-color: floralwhite;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center; }
  .contenedor-carrusel .carousel-inner .carousel-item img {
    border-radius: 20px;
    width: 70vh; }

.eco-friendly {
  background-color: floralwhite;
  height: 70%; }

.text-center {
  padding-top: 4rem; }

.texto-nosotras {
  padding-top: 2rem;
  margin: 5rem; }

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #a0f8a0; }
  footer .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
  footer .footer-text-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center; }

.sellos2 {
  display: flex;
  justify-content: space-around;
  align-content: center; }

.sellos2 img {
  width: 12vh; }

.sellos1 {
  display: flex;
  justify-content: space-around;
  align-content: center; }

.sellos1 img {
  width: 30vh; }

.conoce-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: floralwhite;
  width: 100%;
  height: 100%;
  padding: 20px; }

.productos {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between; }

/* ITEMS */
.productos .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: .3s; }

.productos .contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: .3s; }

.productos .contenedor-items .item .img-item {
  width: 100%; }

.productos .contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05; }

.productos .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.productos .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #a0f8a0;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer; }

/* Media query para dispositivos móviles */
@media (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 22px; }
    body main .btn {
      margin-top: 1vh;
      margin-bottom: 2vh; }
    body main .tit4 {
      display: none; }
    body main {
      padding-bottom: 5px; }
    body main.home {
      margin-top: 70px;
      margin-bottom: 150px; }
    body img.hierbas {
      margin-top: 20px;
      margin-bottom: 30px; }
    body .quienes-somos {
      margin-top: 50px; }
    body a.btn {
      margin-top: 80px;
      margin-bottom: 70px; }
    body .eco-friendly {
      display: none; }
    body .texto-nosotras {
      display: none; }
    body .eco-friendly {
      font-display: none; }
    body .sellos1 {
      display: none; } }

/* Media query para tablets */
@media (min-width: 481px) and (max-width: 1023px) {
  body {
    font-size: 30px; }
    body main .btn {
      margin-top: 1vh;
      margin-bottom: 2vh; }
    body .productos {
      font-size: 20px; }
    body .container-text-center {
      margin: 120px;
      padding: 26px; }
    body .texto-nosotras {
      display: none; }
    body .sellos1 {
      display: none; }
  footer {
    font-size: 25px; } }

/* Media query para desktops */
@media (min-width: 1024px) and (max-width: 1440px) {
  footer .sellos2 {
    display: none; } }
