@import "./extra/vars";

* {
    margin: $margen-general;
    padding: $padding-general;
    border: $borde-nulo;
    outline: $outline-nulo;
    text-align: center;
}

.contenedor-general {
    display: flex;
    flex-direction: column;
    height: $vista-total;
    justify-content: center;
    align-items: center;
}
nav {
  display: flex;
  background-color: $color-principal;
  height: 15%;
  width: 100%;

  .logo-img img {
      width: $img-small;
  }
}
.nav-link{
  margin-left: 40px;
  padding: 30px;
}
.quienes-somos {
    display: flex;
    flex-direction: column;
    background-color: $color-secundario;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.contenedor-carrusel {
    background-color: $color-secundario;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;


    .carousel-inner{
        .carousel-item img {
            border-radius: $radio-img;
            width: $img-large;
        }
    }

}

.eco-friendly {
    background-color: $color-secundario;
    height: 70%;
}

.text-center{
  padding-top: 4rem;
}

.texto-nosotras{
  padding-top: 2rem;
  margin: 5rem
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-principal;

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

        .footer-text-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-align: center;
        }
    }


    .sellos2 {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    .sellos2 img {
        width: $img-small;
    }



.sellos1 {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.sellos1 img {
    width: $img-mid;
}

.conoce-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: $color-secundario;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.card {
    width: $card-width ;
    height: $card-height;
}

.primer-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $color-secundario;
}

.segundo-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $color-principal;
}

.productos{ 
  display:grid;
  margin-bottom: 30px;



/* SECCION CONTENEDOR DE ITEMS */
.contenedor-items{
  margin-top: 70px;
  display: grid;
  grid-gap: 20px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.contenedor-items .item .img-item {
  width: 100%;
}

.contenedor-items .item:hover {
  box-shadow: 0 0 10px $color-principal;
  scale: 1.05;
}

.contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: $color-principal;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
}
  /* Media query para dispositivos móviles */
  @media (min-width: 320px) and (max-width: 480px) {

    main .btn {
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
  .segundo-contenedor{
    background-color: initial;
  }
  main .tit4{
    display: none;
  }
  main{
   padding-bottom: 5px;
  }
    
  .card{
    width:25vh ;
    height:35vh ;
    margin-block: 5vh;
    margin-left: 20%;
   
  }
  .card-text{
    display: none;
  }
  .contenedor-general{
    margin-block: 10vh;
    height: fit-content;
    
  }
  .segundo-contenedor{
    margin-block: 5vh;
    height: fit-content;

  }
.eco-friendly{
    display: none;
}
 .texto-nosotras{
    display: none;
  }
  .eco-friendly{
    font-display: none;
  }
  .sellos1 {
    display: none;
  }
}

/* Media query para tablets */
@media (min-width: 481px) and (max-width: 1023px) {
  .card{
    width:25vh ;
    height:35vh ;
    margin-block: 5vh;
    margin-left: 30%;
   
  }
  main .btn {
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
  .texto-nosotras{
    display: none;
  }
  .sellos1 {
    display: none;
  }
  footer{
    bottom: 0%;
  }
}
  
/* Media query para desktops */
@media (min-width: 1024px) and (max-width: 1440px) {

 .sellos2{
  display: none;
}
}