$margen-general: 0;
$padding-general: 0;
$padding-top: 2rem; 
$borde-nulo: 0;
$outline-nulo: 0;
$vista-total: 100vh;
$color-principal: rgb(160, 248, 160);
$color-secundario: floralwhite;
$img-small: 12vh;
$img-mid: 30vh;
$img-large: 70vh;
$padding-marco: 5vh;
$radio-img: 20px;
$card-width: 35vh;
$card-height: 55vh;